{% extends 'layout.html.twig' %}
{% block title %} {{ parent() }} -auteurs {%
endblock %} 

{% block content %} 
{#por chaque auteur de mon tableau des auteurs je crée une ligne avec les infos de l'auteur en question#}
<div class="row mt-5 justify-content-center text-center">
<h1> Liste des auteurs </h1>
</div>
<table class="table table-striped" border="2">
      <thead>
       <tr align="center">
            <th scope="col">Id</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Action</th>
       </tr>
      </thead>
{%for auteur in auteurs %}
      <tr align="center">
            <td>{{ auteur.id}}</td>
            <td>{{ auteur.prenom ~' '~ auteur.nom }}</td>
            <td>{{ auteur.dateDeNaissance | date("d/m/Y") }}</td>
            <td>
                  <a href="{{ path("app_auteur", {id: auteur.id} ) }}"><i class="fa fa-eye mx-1 text-success"></i></a>
                  <a href="{{path("auteur_update", {id: auteur.id})}}"><i class="fa fa-edit mx-1 text-success"></i></a>
                  <a href="{{path("auteur_delete", {id: auteur.id})}}"><i class="fa-solid fa-trash-can text-danger" onclick="return confirm('Êtes vous sur de vouloir supprimer l\'auteur?')"></i></a>
            </td>
      </tr>
{% endfor %}

{% endblock content %}